@import 'styles/variables';


.root{
  display: flex;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  background: $redOpacity;
  padding: 32px;
  border-radius: 30px;
  max-width: 700px;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: opacity(1);
  box-shadow: 3px 9px 27px 1px rgba(34, 60, 80, 0.7);

  .header{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 64px;
    font-size: 32px;
    font-family: $font-family-main;
    font-weight: 400;
    color: #fff;
  }
  .formContainer{
    display: flex;
    max-width: 300px;
    width: 100%;
  }
  .formInner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .submitBtn{
      margin-bottom: 50px;
    }
  }
  .noAcc{
    a{
      color: #fff;
    }
  }
}
