@import 'variables';

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/SourceSansPro-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: $text-color;
}

body {
  margin: 0;
  background-color: $app-bg;
  font-family: $font-family-title !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: $text-color;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
  outline: none;
  font-family: $font-family-main !important;
}

// For prevent whitespace under these elements
img,
svg {
  vertical-align: top;
}
